---
import PokemonCard from '@components/pokemons/PokemonCard.astro';
import type { PokemonListResponse } from '@interfaces/pokemon-list.response';
import Layout from '@layouts/Layout.astro';
import type { GetStaticPaths } from 'astro';

export const getStaticPaths = (async () => {
  const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
  const { results } = (await resp.json()) as PokemonListResponse;

  return results.map(({ name, url }) => ({
    params: {
      name,
    },
    props: {
      name,
      url,
    },
  }));
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { url } = Astro.props;

const id = url.split('/').at(-2);
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<Layout
  title={`Pokémon - #${id} ${name}`}
  description={`Información sobre el Pokémon ${name}`}
  image={imageSrc}
>
  <section class='mt-10 mx-10 flex flex-col justify-center items-center'>
    <div>
      <a href='/'>Regresar</a>
      <h1 class='text-5xl'>{name}</h1>
    </div>
  </section>
  <PokemonCard name={name} url={url} isBig />
  <audio controls class='mt-5'>
    <source src={audioSrc} type='audio/ogg' />
    Your browser does not support the audio element.
  </audio>
</Layout>

<style>
  a {
    @apply hover:underline text-blue-500;
  }
</style>
