---
import PokemonCard from '@components/pokemons/PokemonCard.astro';
import Title from '@components/shared/Title.astro';
import type { PokemonListResponse } from '@interfaces/pokemon-list.response';
import Layout from '@layouts/Layout.astro';
import type { GetStaticPaths } from 'astro';
import { Icon } from 'astro-icon/components';

export const getStaticPaths = (async () => {
  const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
  const { results } = (await resp.json()) as PokemonListResponse;

  return results.map(({ name, url }) => ({
    params: {
      name,
    },
    props: {
      name,
      url,
    },
  }));
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { url } = Astro.props;

const id = url.split('/').at(-2);
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<Layout
  title={`Pokémon - #${id} ${name}`}
  description={`Información sobre el Pokémon ${name}`}
  image={imageSrc}
>
  <section class='mt-10 mx-10 flex flex-col justify-center items-center'>
    <div class='flex flex-row'>
      <div>
        <!-- <a href='/'>Regresar</a> -->
        <button onclick='history.back()' class='text-blue-500'>Regresar</button>
        <Title>{name}</Title>
      </div>

      <button id='btn-favorite' class='ml-4' data-name={name} data-id={id}>
        <Icon data-outline name='heart-outline' size={50} />
        <Icon data-full class='hidden' name='heart-full' size={50} />
      </button>
    </div>

    <PokemonCard name={name} url={url} isBig />

    <audio controls class='mt-5'>
      <source src={audioSrc} type='audio/ogg' />
      Your browser does not support the audio element.
    </audio>
  </section>
</Layout>

<script>
  interface FavoritePokemon {
    id: number;
    name: string;
  }

  const handlePageLoad = () => {
    let favoritePokemon: FavoritePokemon[] = JSON.parse(
      localStorage.getItem('favorites') ?? '[]'
    );

    const btnFavorite = document.querySelector(
      '#btn-favorite'
    ) as HTMLButtonElement;

    if (!btnFavorite) return;

    const name = btnFavorite.dataset.name ?? '';
    const id = btnFavorite.dataset.id ?? '';
    const isFavorite = favoritePokemon.some((fav) => fav.name === name);

    const heartOutline = btnFavorite.querySelector(
      '[data-outline]'
    ) as HTMLElement;
    const heartFull = btnFavorite.querySelector('[data-full]') as HTMLElement;

    if (isFavorite) {
      heartOutline.classList.add('hidden');
      heartFull.classList.remove('hidden');
    }

    const toggleFavorite = () => {
      const isFavorite = favoritePokemon.some((fav) => fav.name === name);

      if (isFavorite) {
        favoritePokemon = favoritePokemon.filter((fav) => fav.name !== name);
      } else {
        favoritePokemon.push({ id: +id, name });
      }

      localStorage.setItem('favorites', JSON.stringify(favoritePokemon));
    };

    btnFavorite.addEventListener('click', () => {
      heartOutline.classList.toggle('hidden');
      heartFull.classList.toggle('hidden');

      toggleFavorite();
    });
  };

  document.addEventListener('astro:page-load', handlePageLoad);
</script>

<style>
  a {
    @apply hover:underline text-blue-500;
  }

  #btn-favorite {
    @apply hover:animate-pulse;
  }
</style>
